body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    background: linear-gradient(rgb(100, 200, 255), rgba(100, 200, 255, 0));
    padding: 5px;
}

header > ul > li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.scope {
    padding-top: 30px;
    padding-left: 40px;
}

#bigbang {
    background: linear-gradient(0, rgb(184, 25, 0), rgba(184, 25, 0, 0));
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 100%;
}

h1 {
    font-size: 30px;
    padding-left: 20px;
    display: inline;
    margin: 10px;
}

h2 {
    font-size: 30px;
    display: inline;
    margin: 0px;  
}

.button {
    background: red;
    color: white;
}

a {
    color: rgb(201, 37, 201)
}

a:hover {
    text-decoration: None;
}