{% extends "base.html" %}

{% block content %}
<section class="scope">
<p>Rules of the game:
Rock beats Scissors. Scissor beats Paper. Paper beats Rock.</p>

<div>
<b>Player vs Player:</b>
Player 1 types /rock OR /paper OR /scissors into the URL bar and covers their answer.<br>
Player 2 types /rock OR /paper OR /scissors and then presses enter!
</div>

<div>
    <p>
    <b>Player vs Computer:</b>
Enter your name and choose an option from the drop down menu and press play!
    </p>
</div>

<div>
    <p>
    <b>Player vs Computer: (Big Bang Mode)</b>
    Scissors cuts Paper.
    Paper covers Rock.
    Rock crushes Lizard.
    Lizard poisons Spock.
    Spock smashes Scissors.
    Scissors decapitates Lizard.
    Lizard eats Paper.
    Paper disproves Spock.
    Spock vaporizes Rock.
    </p>
</div>



</section>

{% endblock %}