{% extends "base.html" %} {% block content %}
<h1> &#129422; Lizard &#128125; Spock</h1>

<section class="scope" id="bigbang">
<form class="rps" action="/play-bigbang" method="post">
  <div>
    <label for="input-name">Enter your name:</label>
    <input type="text" name="player-name" id="player-name" />
  </div>

  <div>
    <p>
      <label for="rps-menu">Choose:</label>
      <select name="rps-menu" id="rps-menu">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
        <option value="Lizard">Lizard</option>
        <option value="Spock">Spock</option>
      </select>
      <input class="button" type="submit" value="play" />
    </p>
  </div>

</form>

{% include 'result.html' %}
</section>

{% endblock %}
